img{
    width:100%;
}


.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*background-image: url("../assets/gray_bg.png");*/
}
/*banner*/
.banner{
    width:100%;
    position: relative;
}
.bannerBottomImg{
    position: absolute;
    left:0px;
    bottom:0px;
}
.slick-dots{
    width:20px !important;
    top:30% !important;
    left:30px !important;
}
/*companyInfo*/
.grayBg{
    width:100%;
    background-image: url("../assets/gray_bg.png");
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.company{
    width:80%;
    min-width: 250px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:15px;
    padding-right:15px;
}
.titleText{
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 2px;
    color:#636363;
}
.greenBar{
    margin-left: 10px;
    width:50%;
    height:5px;
    background-color: #00643C;
}
.img_whoAreWe{
    width:100%;
    margin-top: 20px;
}
.companyInfo{
    width:90%;
    margin:auto;
    padding:15px;
    display: flex;
    flex-direction: column;
    color:#6D6D6D;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 35px;

}
.btnMore{
    margin-top:20px;
    width:140px;
    background-color: black;
    border:none;
    color:white;
    letter-spacing: 3px;
    cursor: pointer;
}

/*slogan*/
.homeslogan{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:210px;
    background-color: #EDEDED;
}
.sloganText{
    width:60%;
    color:#484848;
    font-weight:bold;
    letter-spacing: 3px;
    text-align: center;
}
.img_coffeeBeans{
    width:30%;
    max-height: 350px;
    top:0;
    right:0;
    position: absolute;
}
/*news*/
.news{
    padding-top: 80px;
    width:75%;
    height:600px;
    display: flex;
    flex-direction: column;
}
.newsTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsTitle{
    font-size: 28px;
    letter-spacing: 5px;
}
.grayTitle{
    margin-top: -5px;
    font-size: 18px;
    letter-spacing: 2px;
    color:#A7A5A6;
}
.newsGreenBar{
    margin-top: 5px;
    width:80px;
    height:3px;
    background-color: #00643C;
}

.newsBlock{
    margin-top: 40px;
}

.slick-slide>div>a{
    display: flex !important;
    justify-content: center;
    align-items: center;
}