.foodsTitle{
    font-size: 1.75rem;
    font-weight: bold;
}
.foodsBox{
    align-self: flex-start;
}
.foodsText{
    font-size: 1rem;
    line-height: 2rem;
}
.foodPrice{
    font-weight: bold;
    font-size: 1.5rem;
}
.foodsHighlight{
    margin-top: 5%;
    color: #00643C;
    line-height: 2rem;
}