.drinksBox {
    margin: 2.5rem auto;
    display: flex;
    align-items: center;
}
.drinksBlock{
    position: relative;
}
.bgCircle{
    position: absolute;
    top: -20%;
    left: -40%;
    z-index: 1;
}
.detailImg {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 95%;
    z-index: 2;
}
.drinksTitle , .engTitle {
    font-weight: bold;
}
.drinksTitle {
    font-size: 1.75rem;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.85);
}
.drinksText {
    margin: 1.25rem auto;
    line-height: 2rem;
}
.highlight {
    line-height: 2rem;
    color: #00643C;
}

/*Tabel*/
.drinksTable{
    margin: 1.5rem auto;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size:1rem;
    line-height: 2rem;
    width: 80%;
}
.tableContent{
    border: #f0f0f0 1px solid;
}
.tableContent:nth-child(odd){
    background-color: #dfdfdf;
}