img {
    width: 100%;
}
h3 {
    color: #00643C;
    font-size: 1.25rem;
    font-weight: bold;
}

/* title */
.about{
    font-weight: bold;
    letter-spacing: 0.5rem;
    font-size:1.5rem;
}

/*content*/
.content{
    background-color: #fff;
    position: relative;
}
.title{
    text-align: center;
    font-weight: bold;
}
.textBlock{
    padding: 10px 40px;
    line-height: 2.5rem;
    font-size: 1rem;
    text-align: justify;
    position: relative;
}
.questionTitle , .answerText{
    padding: 0 5%;
}
.answerText{
    font-size: 1rem;
}
.line{
    float: right;
    width: 50%;
    border: 4px solid #c4c4c4;
}
.bigMark{
    color: rgba(196, 196, 196, 50);
    font-size: 2.5rem;
    line-height: 2.25rem;
    font-weight: 900;
    letter-spacing: 1rem;
   }

/* introImg */
.intro2{
    padding: 3.5% 0;
}


/* solgan */
.slogan{
    padding: 5% 0 0 10%;
    line-height: 3rem;
    font-size: 1.25rem;
}
.sloganText{
    float: right;
    color: #c4c4c4;
    font-size:2.5rem;
    letter-spacing: 0.5rem;
}

/* enterpriseMission */
.enterpriseMission{
    padding: 0 15% 1% 10%;
    font-size: 1rem;
    line-height: 2rem;
}

/* ethicalSourcing */
.ethicalSourcing{
    padding: 5% 10% 7.5% 10%;
    line-height: 2.5rem;
    font-size: 1rem;
}