@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: 'Microsoft JhengHei';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-layout{
  background-image: url('./assets/drinks/bg.jpg');
  background-position: center;
  background-size: cover;
}
