li{
    list-style:none;
}
/*header-left*/
.headerLeft{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.logo{
    width:35px;
    margin-left:30px;
    margin-right:15px;
    border-radius: 100%;
    overflow: hidden;
}
.starbucksText{
    color:white;
    font-size: 18px;
    letter-spacing: 3px;
}
/*header-right*/
.headerIcon img{
    width:22px;
}
.headerText{
    padding-left: 5px;
    color:white;
    font-size: 14px;
    letter-spacing: 1px;
}
/*footer*/

.footerShare{
    display:flex;
    margin:0;
}
.footerIcon{
    width:25px;
    margin:0px 3px;
}
.footerIcon_fb{
    width: 18px;
    display: flex;
    align-items: center;
    margin:0px 5px;
    margin-top:3px;
}
.footerIcon_line{
    width:20px;
    margin:0px 5px;
}

